/* common styles */

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
header, main{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}
body {
    background-color: #F1E4FF;
}

/* header styles */

header {
    margin: 80px auto;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar h3 {
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-item {
    display: flex;
    gap: 20px;
}

.nav-item li {

    list-style: none;
}

.nav-item li a {
    text-decoration: none;
    font-weight: 600;
    color: #3A3A3A;
}

/* influencer section styles */

.influencer-section {
    display: flex;
    align-items: center;
    gap: 50px;
}

.influencer-text {
    width: 50%;
}

.influencer-text .influencer-title {
    font-size: 3rem;
    font-weight: 700;
    color: #3A3A3A;
}

.influencer-text .influencer-description {
    color: #3A3A3A;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.influencer-text .primary-btn {
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 15px 25px;
    border: none;
    border-radius: 40px;
    font-weight: 700;
}

.influencer-img {
    width: 50%;
}

.influencer-img img {
    width: 100%;
}

/* sponsors section styles */

.sponsors-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
}

.sponsors-section .sponsors-item {
    width: 100px;
}

.sponsors-section .sponsors-item img {
    width: 100%;
}

/* popular collection styles */
.collection-section{
    margin-bottom: 50px;
}
.collection-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.collection-section h3{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: #3A3A3A;
    margin-bottom: 40px;
}
.collection-item {
    /* max-width: 300px; */
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 10px;
}
.collection-item img{
    width: 100%;
}
.collection-item h4{
    font-size: 1.25rem;
    font-weight: 500;
    color: #18191F;
}
.collection-item .price{
    font-size: 1.25rem;
    color: #000000DE;
}
.collection-item .fa-solid{
    color: #FB8200;
}

.collection-item p{
    font-size: 0.80rem;
}
.collection-section .more{
    color: rgba(224, 44, 109, 0.87);
    text-align: right;
    margin-top: 15px;
}

/* features section */

.features-section{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.features-img{
    width: 50%;
}
.features-img img{
    width: 90%;
    object-fit: cover;
}
.features-text{
    width: 50%;
}
.features-text .features-title{
    color: #0A0826;
    font-size: 2.25rem;
    font-weight: 700;
}
.features-text .features-description{
    color: #6C6C6C;
    font-weight: 600;
    margin: 10px 0;
}
.features-text .btn-secondary{
    background: #E02C6D;
    color: #FFFFFF;
    font-weight: 600;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
}

/* footer styles */
.footer-section{
    background-color: #0A0826;
    padding: 50px 20px;
}
.footer-content{
    text-align: center;
}
.footer-content h3{
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.footer-content span{
    color: #D9DBE1;
    font-weight: 600;
}
.footer-content div i{
    color: #FFFFFF;
    font-size: 2rem;
    width: 50px;
    margin-top: 10px;
}
/* responsive styles */
/* mobile devices */

@media screen and (max-width: 576px) {
    .nav-bar {
        flex-direction: column;
        gap: 20px;
    }
    .nav-item{
        flex-wrap: wrap;
    }
    .influencer-section, .features-section {
        flex-direction: column-reverse;
    }

    .influencer-img,
    .influencer-text,
    .features-img, 
    .features-text
        {
        width: 100%;
        text-align: center;
    }

    .influencer-text .influencer-title {
        font-size: 1.75rem;
    }

    .sponsors-section {
        flex-wrap: wrap;
        gap: 20px;
    }
    .collection-container{
        grid-template-columns: 1fr;
    }
    .features-text{
        margin-bottom: 20px;
    }
    .features-text .features-title{
        font-size: 1.75rem;
    }
}